{% extends 'base.html'%}

{%block title%} {{article.article_title}} {% endblock%}

{%block content%}

<h2> {{article.article_title}}</h2>

<p>{{article.article_text}}</p>

<em>{{article.pub_date}}</em>
{%if article.was_published_recently%}
Новая статья
{%endif%}
<hr>

{%if latest_comments_list %}
	{%for c in latest_comments_list%}
		<p>
			<strong>{{c.author_name}}</strong>
			<p>{{c.coment_text}}</p> 
		</p>
	{%endfor%}
{%else%}
Комментарии не фаунд
{%endif%}

<hr>
<br>	
</br>
<a onclick="javascript:location.reload(); return false;">Обновить</a>
<br>	</br>
<a onclick="javascript:history.back(); return false;">Назад</a>
<br>	</br>
<a href="http://127.0.0.1:8000/articles/">Ко всем статьям</a>
<br>	</br>
<form action ="{% url 'articles:leave_comment' article.id %}" method = 'POST'>
	{% csrf_token %}
	<input type='text' required placeholder = 'Ваше имя' name="ima"><br>
	<textarea name='text' required='' placeholder="Тексt комментария" cols ='30' rows="10"></textarea> <br>
	<button type = 'submit'> Коментирую </button>
</form>

{%endblock%}